<!DOCTYPE html>
<html>
   	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Home - LibraryMS</title>
		<link rel="stylesheet" href="/static/assets/css/amazeui.css" />
		<link rel="stylesheet" href="/static/assets/css/core.css" />
		<link rel="stylesheet" href="/static/assets/css/menu.css" />
		<link rel="stylesheet" href="/static/assets/css/index.css" />
		<link rel="stylesheet" href="/static/assets/css/admin.css" />
		<link rel="stylesheet" href="/static/assets/css/page/typography.css" />
		<link rel="stylesheet" href="/static/assets/css/page/form.css" />
        <link rel="stylesheet" href="/static/assets/css/component.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	</head>
	<body>
		<!-- Begin page -->
        <header class="am-topbar am-topbar-fixed-top">
			<div class="am-topbar-left am-hide-sm-only">
                <a href="{% url 'MyLMS:index' %}" class="logo">Library<span>MS</span></span><i class="zmdi zmdi-layers"></i></a>
            </div>

			<div class="contain">
				<ul class="am-nav am-navbar-nav am-navbar-left">
					<li><h4 class="page-title">Hi! {{request.session.reader_name}}.o(^▽^)o Welcome to Library! </h4></li>
				</ul>
				<ul class="am-nav am-navbar-nav am-navbar-right">
					<li class="inform"><i class="am-icon-bell-o" aria-hidden="true"></i></li>
				</ul>
			</div>
		</header>
		<!-- end page -->
		
		
		<div class="admin">
		    <!-- ========== Left Sidebar Start ========== -->
            <!-- sidebar start -->
            <div class="admin-sidebar am-offcanvas  am-padding-0" id="admin-offcanvas">
            <div class="am-offcanvas-bar admin-offcanvas-bar">
                <!-- User -->
                <div class="user-box am-hide-sm-only">
                    <div class="user-img">
                        <img src="/static/assets/img/avatar-1.jpg" alt="user-img" title="user_img" class="img-circle img-thumbnail img-responsive">
                    </div>
                    <h5>{{request.session.reader_name}}</h5>
                    <ul class="list-inline">
                        <li>
                            <a href="{% url 'MyLMS:info' %}">

                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="fa fa-cog"> </span> info</button>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'MyLMS:logout_action' %}">
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-dot-circle-o"> </span> Logout </button>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End User -->

                 <ul class="am-list admin-sidebar-list">
                    <li><a href="{% url 'MyLMS:index' %}"><span class="am-icon-home"></span>  Home </a></li>
                    <li><a href="{% url 'MyLMS:bookslist' %}"><span class="am-icon-copy"></span>  Books List </a></li>
                    <li><a href="{% url 'MyLMS:record_page' %}"><span class="am-icon-table"></span>  Borrow Record </a></li>
                      <li>.  </li>
                  </ul>
            </div>
            </div>
            <!-- sidebar end -->
            <!-- ========== Left Sidebar end ========== -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <div class="am-u-md-12">
                <!-- Start content -->
                <div class="content">
                    <div class="am-g">
                        <!-- Row start -->
                        <div class="am-u-md-12">
                                <div class="content-page">
                <!-- row start -->
			<div class="am-g">
				<!-- col start -->
				<div class="am-u-md-11">
					<div class="card-box">
						<div class="am-form-success">
							    <label><font size = "6">Your Readername  : {{ reader.Name }}</font></label>
                        </div>

						<div class="am-btn-xs am-text-secondary">

							    <label><font size = "4">Your ID : {{ reader.id }}</font></label>
                                <br>
                                <label><font size = "4">Your StudentCard: {{ reader.StudentCard }}</font></label>
                                <br>
                                <label><font size = "4">The number of book you can borrow: {{ can_num }}</font></label>
                                <br>
                        </div>


					</div>
				</div>

                                </div>
                            </div>
                        <div class="am-u-md-7" >

					    </div>

                            <!-- col end -->

                            <!-- col end -->

                        <!-- Row end -->
                    </div>
                    <div class="am-g">

                        </div>

                    <!-- Row start -->
                    <div class="am-g">
                        <!-- col start -->
                        <div class="am-u-md-12">
                            <div class="card-box">
                                <h4 class="header-title m-t-0 m-b-30">LATEST BOOK</h4>

                                <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                                        <table class="am-table   am-text-nowrap">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Title</th>
                                                <th>Author</th>
                                                <th>Publisher</th>
                                                <th>Pubdate</th>
                                                <th>Position</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for book in Newbooks %}
                                                <tr>
                                                    <td>{{ book.id }}</td>
                                                    <td><a href="{% url 'MyLMS:book_page' book.id %}">{{ book.Title }}</a></td>
                                                    <td>{{ book.Author }}</td>
                                                    <td>{{ book.Publisher }}</td>
                                                    <td>{{ book.Pub_Time }}</td>
                                                    <td><span class="label label-primary">{{ book.Position }}</span></td>
                                                    {% if book.Available   %}
                                                      <td><span class="label label-success"><i class="am-icon-thumbs-o-up"></i></span></td>
                                                    {% else %}
                                                       <td><span class="label label-danger"><i class="am-icon-close"></i></span></td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                </div>
                                <h4>Tips: Here are the latest 7 books 0v0 ! If you want more pls check the books list !</h4>
                            </div>
                        </div>
                        <!-- col end -->
                        <!-- col start -->
                        <div class="am-u-md-4">

                        </div>
                        <!-- col end -->
                    </div>
                    <!-- Row end -->


                    <div class="am-g">



				</div>


                </div>
            </div>
            <!-- end right Content here -->

            </div>

		
		<!-- navbar -->

        <a href="admin-offcanvas" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

		<script type="text/javascript" src="/static/assets/js/jquery-2.1.0.js" ></script>
		<script type="text/javascript" src="/static/assets/js/amazeui.min.js"></script>
		<script type="text/javascript" src="/static/assets/js/app.js" ></script>
		<script type="text/javascript" src="/static/assets/js/blockUI.js" ></script>
		<script type="text/javascript" src="/static/assets/js/charts/echarts.min.js" ></script>
		<script type="text/javascript" src="/static/assets/js/charts/indexChart.js" ></script>
        <script>
            (function(){

var pie1 = echarts.init(document.getElementById("pie1"));

option = {

	title : {
		text: "Your Borrow Record",
		x: 'center'
	},

    tooltip: {
        trigger: 'item',
        formatter: "{a} <br/>{b}: {c} ({d}%)"
    },
    legend: {
        orient: 'vertical',
        x: 'left',
        data:['WAITING','BORROWED','RETURNED','TURNDOWN','DEMAGE']
    },
    series: [
        {
            name:'Record_Data',
            type:'pie',
            radius: ['50%', '70%'],
            avoidLabelOverlap: false,
            label: {
                normal: {
                    show: false,
                    position: 'center'
                },
                emphasis: {
                    show: true,
                    textStyle: {
                        fontSize: '30',
                        fontWeight: 'bold'
                    }
                }
            },
            labelLine: {
                normal: {
                    show: false
                }
            },
            data:[

                {value:{{WAITFORCHECK}}, name:'WAITING'},
                {value:{{DEMAGE}}, name:'DEMAGE'},
                {value:{{TURNDOWN}}, name:'TURNDOWN'},
                {value:{{BORROWED}}, name:'BORROWED'},
                {value:{{RETURNED}}, name:'RETURNED'}
            ]
        }
    ]
};

pie1.setOption(option);
})();
        </script>

	</body>
	
</html>
